<p-toolbar [styleClass]="'border-noround'">
  <div class="p-toolbar-group-left">
    <p-button
      icon="pi pi-bars"
      (click)="uiService.toggleMenu()"
      class="sm:hidden mr-2"
    >
    </p-button>
    <h3 class="m-1">VS Todo</h3>
  </div>
  <div class="p-toolbar-group-right hidden sm:inline navigation-group">
    <ul>
      <li *ngFor="let menuItem of menuService.items">
        <span
          ><a [routerLink]="menuItem.route" class="no-underline text-primary">{{
            menuItem.text
          }}</a></span
        >
      </li>
      <li *ngIf="userService.currentUser$ | async as user">
        <p-avatar
          shape="circle"
          [image]="(userService.currentUserAvatar$ | async) ?? ''"
          (click)="userMenu.toggle($event)"
        ></p-avatar>
        <p-menu #userMenu [popup]="true" [model]="items"></p-menu>
      </li>
    </ul>
  </div>
</p-toolbar>
